body {
  font-style: normal;
  font-weight: 400px;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__menu {
  font-size: 18px;
  line-height: 100%;
}

.header__link-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: underline 1px solid;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 155px;
  height: 105px;
}

.header__logo-image {
  padding: 1px 9px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  width: 240px;
}

.header__address {
  text-decoration: none;
  justify-self: end;
}

.address__with-underline {
  text-decoration: underline 1px solid;
  text-underline-offset: 4px;
}

.overlay::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 0.6);
  z-index: 0;

}

.cover {
  color: white;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 757px;
  margin-bottom: 182px;
  text-transform: uppercase;
}

.cover__text-elements {
  position: relative;
  z-index: 1;
}

.cover__title {
  display: grid;
  gap: 20px;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
  padding: 167px 20px 0px 50px;
  line-height: 115px;
}

.aligned-text_left {
  display: block;
  text-align: left;
}

.aligned-text_center {
  display: block;
  text-align: center;
}

.aligned-text_right {
  display: block;
  text-align-last: end;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  line-height: 28px;
  padding: 106px 50px 0px 50px;
}

.cover__description-text {
  word-spacing: 19px;
}

.bet-button {
  width: 256px;
  height: 51px;
  color: white;
  border: thin solid white;
  background-color: transparent;
  text-transform: uppercase;
}

.lots {
  padding: 0px 24px;
  margin-bottom: 120px;
}

.lots__heading {
  margin-bottom: 25px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #000000;
}

.lots__card-list {
  margin-bottom: 31px;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__text-elements {
  position: relative;
  z-index: 1;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card__title {
  text-transform: uppercase;
  text-decoration: underline 1px solid;
  text-underline-offset: 4px;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
}

.lots__look-more-link {
  padding-left: 40px;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  text-decoration: underline 1px solid;
  text-underline-offset: 4px;
}

.about {
  margin: 0px 24px 183px;
}

.about__column {
  display: grid;
  gap: 25px;
  grid-template-columns: 334px auto;
  width: 100%;
  padding-top: 35px;
}

.about__logo {
  display: flex;
  justify-content: center;
}

.about__logo-background {
  height: 240px;
  width: 240px;
  background-color: black;
  border-radius: 120px;
}

.about__logo-image {
  padding: 64px 45px 62px 46px;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.about__title {
  padding-top: 102px;
  margin-bottom: 98px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #000000;
}

.about__paragraphs {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  padding-right: 5px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 0px 50px;
  margin-bottom: 82px;
}

.footer__menu {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.footer__menu-list {
  list-style: none;
  white-space: nowrap;
}

.footer__menu-link {
  text-decoration: underline 1px solid;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  justify-self: end;
  display: flex;
  gap: 48px;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}
